@font-face {
    font-family: 'Monarque-Regular';
    src: url('/src/assets/fonts/Monarque-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Monarque-SemiBoldItalic';
    src: url('/src/assets/fonts/Monarque-SemiBoldItalic.ttf') format('truetype');
    font-style: normal;
}