footer {
    background-color: #929173;
    // margin-left: -20px;
    // margin-right: -20px;
    padding: 20px 0;
    color: #fff;
    padding: 10rem 2.3rem;

    .contact-section {

        h2,
        ul {
            padding: 2.3rem;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        li {
            margin: 1rem 0;
        }

        a {
            color: #fff;
            // padding: 2rem 0;
        }

        .link-line {
            height: 0.5px;
            background-color: #fff;
        }
    }
}