footer {
    background-color: #929173;
    padding: 50px 20px;

    .contact-title {
        color: white;
        font-size: 2rem;
        margin-bottom: 20px;
        letter-spacing: 0.1rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
    }

    .contact-item {

        gap: 0.5rem;
    }


    .link-line {
        height: 1px;
        width: 100%;
        background-color: white;
        // margin-right: 15px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        letter-spacing: 0.05rem;
        transition: letter-spacing 0.3s ease;
        overflow: hidden;
        padding-bottom: 0.5rem;
    }


    .arrow {
        margin-left: 2rem;
    }




}

@media (min-width: 31.25em) {
    footer {
        padding: 8rem;
        height: 70vh;

        .contact-list {
            width: 60%;
        }


        a:hover {
            letter-spacing: 0.15rem;
        }

        a:hover::before {
            transform: scaleX(1);
        }

        a::before {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: white;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        .arrow {
            margin-left: 10px;
            font-size: 1.5rem;
            transition: transform 0.3s ease;
        }

        a:hover .arrow {
            transform: translateX(5px);
        }


    }
}